<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
      <meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
      <title>360 WebViewer</title>
      <script src="build.js"></script>
      <script>
        window.onload = function() {
            console.log("init webgazer");
            var gaze_x = 0;
            var gaze_y = 0;
            var sceneEl = document.querySelector('a-scene');
            var canvasEl = sceneEl && sceneEl.canvas;
            var event = new CustomEvent('gazemove', {
              detail: {
                'x': gaze_x,
                'y': gaze_y,
              },
              bubbles: true,
              cancelable: true
            });
            event.initEvent('gazemove', true, true);
            webgazer.setRegression('ridge') /* currently must set regression and tracker */
                .setTracker('clmtrackr')
                .setGazeListener(function(data, clock) {
                 if(data != null){
                   event.detail.x = data.x;
                   event.detail.y = data.y;
                   canvasEl.dispatchEvent(event);
                 }
                })
                .begin()
                .showPredictionPoints(true); /* shows a square every 100 milliseconds where current prediction is */

            var width = 320;
            var height = 240;
            var topDist = '0px';
            var leftDist = '0px';

            var setup = function() {
                var video = document.getElementById('webgazerVideoFeed');
                var scene = document.getElementById('3DScene');
                video.style.display = 'block';
                video.style.position = 'absolute';
                video.style.top = topDist;
                video.style.left = leftDist;
                video.width = width;
                video.height = height;
                video.style.margin = '0px';

                webgazer.params.imgWidth = width;
                webgazer.params.imgHeight = height;

                var overlay = document.createElement('canvas');
                overlay.id = 'overlay';
                overlay.style.position = 'absolute';
                overlay.width = width;
                overlay.height = height;
                overlay.style.top = topDist;
                overlay.style.left = leftDist;
                overlay.style.margin = '0px';

                document.body.appendChild(overlay);

                var cl = webgazer.getTracker().clm;
                function drawLoop() {
                    requestAnimFrame(drawLoop);
                    overlay.getContext('2d').clearRect(0,0,width,height);
                    if (cl.getCurrentPosition()) {
                        cl.draw(overlay);
                    }
                }
                drawLoop();
            };

            function checkIfReady() {
                if (webgazer.isReady()) {
                    setup();
                } else {
                    setTimeout(checkIfReady, 100);
                }
            }
            setTimeout(checkIfReady,100);
        };

        window.onbeforeunload = function() {
            //webgazer.end(); //Uncomment if you want to save the data even if you reload the page.
            window.localStorage.clear(); //Comment out if you want to save data across different sessions
        }
      </script>
    </head>
    <body>
    <a-scene id="3DScene">
      <!--<a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
      <a-box position="-1 0.5 -3" rotation="0 45 0" width="1" height="1" depth="1" color="#4CC3D9"></a-box>
      <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
      <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>-->
      <a-sky src="image.jpg" rotation="0 -130 0"></a-sky>
      <a-entity camera gaze-controls></a-entity>
    </a-scene>
  </body>
</html>
